.letras{
	font-size: 30px;
	text-align: right;
}
.negra{
	font-weight: bold;text-decoration: underline;
}
a{text-decoration: none;text-transform: uppercase;}
.figura{
	height: 150px;
	width: 200px;
	background-image: url('imagenes/FC_Barcelona.png');
}
body{
	background-image: url(imagenes/Convenio-Europeo-del-Paisaje.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}